In [1]:
!pip install kafka-python

Defaulting to user installation because normal site-packages is not writeable
Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     ---------------------------------------- 0.0/246.5 kB ? eta -:--:--
     ------ ------------------------------ 41.0/246.5 kB 960.0 kB/s eta 0:00:01
     ----------------- -------------------- 112.6/246.5 kB 1.3 MB/s eta 0:00:01
     ----------------------------- -------- 194.6/246.5 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 246.5/246.5 kB 1.4 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [2]:
import pandas as pd
from time import sleep
from json import dumps
import json 
from kafka import KafkaProducer

In [ ]:
producer = KafkaProducer(bootstrap_servers=[':9092'], #enter your public ip
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [ ]:
# topic name same as we gave in the cd 
producer.send('demo_test', value={'hello':'world'})

# this hello world will be visible in the consumer cd

In [3]:
df = pd.read_csv("weather_data.csv")

In [4]:
df.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0

In [6]:
df.sample(1)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
87,28-3-2016,62,42,52.0,0.38,0.0,0

In [7]:
df.sample(1).to_dict()

{'date': {221: '9-8-2016'},
 'maximum temperature': {221: 87},
 'minimum temperature': {221: 71},
 'average temperature': {221: 79.0},
 'precipitation': {221: '0'},
 'snow fall': {221: '0'},
 'snow depth': {221: '0'}}

In [ ]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

In [ ]:
producer.flush() #To clear prevoius data from kafka server